@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #4d4d4d #0c0a0a;
}

html::-webkit-scrollbar {
  width: 8px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #222;
}

.quantity-input {
  -moz-appearance: textfield;
  appearance: textfield;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.img-slider {
  scrollbar-width: none;
}

.img-slider::-webkit-scrollbar {
  display: none;
}

.info-cards {
  scrollbar-width: none;
}

.info-cards::-webkit-scrollbar {
  display: none;
}
