@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, black --prefersdark;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input input[type=number] {
    -moz-appearance: textfield;
}